*{
	margin:0;
	padding:0;
}
body{
		margin: 0;
		position: relative;
}

h2,h1,p{
	font-family: "alternate-gothic-no-1-d","BrandonText",sans-serif;
	line-height: 1em;

}
div{
	display: block;
}
.loading{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: url("../img/loading.gif")center no-repeat #fff;
}
/*footer setting=========================*/
footer{
	background-color: white;
	height: 100vh;
	display: -webkit-flex;
	 display: flex;
	 -webkit-justify-content:center;
	 justify-content:center;
	 width: 100vw;

}
#footer-set{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer-item{
	margin: 30px 0;
	width: 31%;
	text-align: center;
	padding-top:20vh;
}
#fi-1,#fi-3{
	background-color: #f4f4f4;
}
#fi-2{
	background-color: #e6e6e6;
}
.footer-item h2{
	padding: 30px;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.social-btn{
	width: 80px;
}
.footer-menu-setting{
	position: fixed;
	top: 0;
	margin-top: 0;
	z-index: 200;
}

/*footer setting=========================*/

/*burger menu btn =======================*/
.burger-menu-btn{
	height: 100px;
	width: 100px;
	top: 50px;
	right: 80px;
	position: fixed;
	z-index: 300;
}
.circle{
	position: relative;
	top: -118px;
	width: 140px;
	height: 140px;
	right: 19px;
}
#tagline text{
	fill : black;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .077em;
}
.burger{
	top: 50px;
	left: 85vw;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.3);
	transition:.2;
}
.burger i{
	position: absolute;
	display: block;
	width: 56px;
	height: 6px;
	background-color: #fff;
	right: 22px;
	border-radius: 2px;
	transition:.3s;
}

.burger-top{
	top:29px;
}
.burger-middle{
	top:44px;
}
.burger-bottom{
	top: 59px;
}

/*burger click animate-----------*/
.open .burger-top{
	width: 59px;
	transform: translateY(20px) rotate(225deg);
}
.open .burger-bottom{
	width: 59px;
	transform:translateY(-10px) rotate(-225deg);
}
.open .burger-middle{
	height: 0;

}
.open #tagline{
	transition:.3s;
	-ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Safari */
    transform: rotate(40deg); /* Standard syntax */
}
/*menu btn =======================*/

/*page============================*/
.wrapper{

}
/*page  common */
.com{
	height: 100vh;
	width: 100vw;
}
.page-cover{
	background: url("../img/pexels-photo.jpg") no-repeat center;
	background-size: cover;
}

.page-about{
	background: url("../img/yellow.jpg") no-repeat right top;
	background-size: cover;
}
.page-detail{
	background: url("../img/life-beauty-scene-chairs-art-abstract.jpg") no-repeat center;
	background-size: cover;
}
.page-art{
	background: url("../img/brush-painting-the-white-wall.jpg") no-repeat left top;
	background-size: cover;
}
/*info area======================*/
.info-box{ /*最外層用固定*/
	position: fixed;
	width: 28%;
	height: 60%;
	top:  calc(50vh - 30%); /*外高度820px / 2 - div的一半高度 */
	left: calc(50vw - 14%); /*外寬度 - div的一半寬度 */
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.info{/*中間層*/
	position: relative;
}
.info-com{/*中間層＋個別層*/
	height: 100%;
	width: 100%;	
}
.info_cover,.info_about,.info_detail,.info_art{
	position: absolute;
}


#arrow{
	margin-top: 30%;
	text-align: center;
	font-size: 25px;
	animation-name:jump;
	-webkit-animation-name:jump;
	-webkit-animation-duration:.5s;
	animation-duration:.5s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	position: relative;
}
@keyframes jump{
	0%{
		top:0px;
	}
	50%{
		top:-28px;
	}
	100%{
		top:0px;
	}
}

/*info cover-------------------*/
.info_cover{
	z-index: 1;
	background-color: #c2d3ed;
	text-align: center;
	visibility: visible;
}
/*info text setting--------*/
.info_cover h2,.info_cover h1,.info_about h2,.info_about h1,.info_detail h2,.info_detail h1,.info_art h2,.info_art h1{
	text-transform: uppercase;
	letter-spacing: .1em;
}
.info_cover h2,.info_about h2,.info_detail h2,.info_art h2{
	font-size:3.5vw;

}
.info_cover h1,.info_about h1,.info_detail h1,.info_art h1{
	font-size:1.5vw;
	margin-top: 50px;
}
.info_cover p,.info_about p,.info_detail p,.info_art p{
	padding: 10px ;
}
/*info about-------------------*/
.info_about{
	background-color: #fef504;
	text-align: center;
}


/*info detail-------------------*/
.info_detail{

	background-color: #e4dfd9;
	text-align: center;
}


/*info art-------------------*/
.info_art{

	background-color: #e2e2ea;
	text-align: center;
}
/*info area======================*/

/*page scroll----------------*/
/*contect card---------------*/
.contect-box{
	background-color: white;
	margin: 25px 5%;
	width: 90%;
	 display: -webkit-flex;
	 display: flex;
	 -webkit-justify-content:center;
	 justify-content:center;
}
.contect-item{
	background-color: #f4f4f4;
	text-align:center;
	width: 31%;
	height: auto;
	float: left;
	margin: 0 10px;
	border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.contect-item p{
	margin: 0 20px 50px;
}
.contect-item img{
	width: 100%;
	height: auto;
	border-radius: 8px;
}
/*contect card---------------*/


/*long content card----------*/
.long-content-box{
	width: 90%;
	margin: 25px 5%;

}
.long-content-item{
	 display: -webkit-flex;
	 display: flex;
	 -webkit-justify-content:center;
	 justify-content:center;
	 margin: 25px 30px;
	 border-radius: 8px;
	 box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	
	height: auto;
}
#lc-item1,#lc-item3{/*use svg sharp*/
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMDBmZmJmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2Y0ZjRmNCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2Y0ZjRmNCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
}
#lc-item2{
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MCIgaGVpZ2h0PSIzMCI+CjxyZWN0IHdpZHRoPSI5MCIgaGVpZ2h0PSIzMCIgZmlsbD0iI2Y0ZjRmNCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iOTAiIGhlaWdodD0iMTUiIGZpbGw9IiM5OWViZmYiPjwvcmVjdD4KPC9zdmc+");
}


.long-content-item div{
	display: block;
	background-color: #f4f4f4;
	text-align: center;
	margin: 50px 0;
	padding:50px 30px ;
	text-transform: uppercase;
	letter-spacing: .1em;
}
/*long content card----------*/



/*media query setting============*/
@media only screen and (max-width: 500px) {
	.contect-box{
		display: block;
		height: 100vh;
	}
	.contect-item{
		width: 100%;
		height: 200px;
		padding: 10px 0 10px;
		margin: 5px 0 5px;
	}
	.contect-item img{
		width: 100px;
		border-radius: 50%;
	}
	.contect-item p, .contect-item h2{
		margin: 0;
	}
	.long-content-box{
		margin-top: 70px;
	}
	.long-content-item{
		margin: 5px 0 5px;
	}
	.footer-item{
		width: 100%;
		height: 33vh;
		margin:10px 0;
		padding: 10px 0;
	}
	footer{
		display: block;
	}
	.footer-item h2{
		padding-top: 20px;
		margin:0;
	}
	#fi-1 br{
		display: none;
	}
	.burger-menu-btn{
		top: 10px;
		right: 10px;
	}
	.info-box{
		left: 0;
		height: 50vh;
		width: 100vw;
	}

	#arrow{
		margin-top: 50px;
	}

}
/*media query setting============*/
